/data/
/.vscode/
/.ipynb_checkpoints/
/.idea/
__pycache__/stock_screener.cpython-37.pyc
__pycache__/stock_screener.cpython-36.pyc
.Rproj.user
.RData
.Rhistory
quant_investment.Rproj
screener/__pycache__/stock_screener.cpython-39.pyc
